* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: initial;
}

.header {
  display: block;
  margin: 0 auto;
  width: max-content;
  cursor: default;
}

.header__logo {
  display: block;
  font-size: 2.1rem;
  font-weight: 700;
  margin: 10px 0;
}

.main {
  margin-top: 50px;
  padding: 0 15px;
  max-width: 400px;
  margin: 50px auto 0;
}

.introduction {
  text-align: center;
}

.introduction__title {
  font-size: 3.5rem;
}

.introduction__subtitle {
  font-weight: 600;
  font-size: 2.4rem;
}

.introduction__description {
  margin-top: 15px;
  font-size: 1.4rem;
  opacity: 0.6;
}

.characteristic__icon {
  font-size: 3rem;
}

.brain {
  color: #d9a5b2;
}

.tools {
  color: #535654;
}

.battery {
  color: rgb(124, 124, 29);
}

.introduction__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  background-color: #ee786c;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.introduction__button:hover {
  opacity: 0.6;
}

.characteristics {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  justify-content: center;
}

.characteristic {
  display: block;
  width: 40%;
  margin: 2rem 0;
  transition: all 0.3s;
}

.image {
  display: block;
  width: 200px;
  height: 300px;
  margin: 0 auto;
}

.image img {
  object-fit: cover;
  width: inherit;
  height: inherit;
}

.projects {
  text-align: center;
}

.title h2 {
  font-size: 2rem;
  margin: 15px 0;
}

.title p {
  font-size: 1.6rem;
  margin: 15px 0;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  font-size: 1.4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.project__characteristics {
  margin: 20px 0;
}

.project__characteristics p {
  margin: 5px 0;
}

.technology {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid black;
  margin: 0 5px;
  text-transform: uppercase;
  border-radius: 15px;
}

.courses__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 30px 0;
}

.courses__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.courses__list img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.footer {
  display: block;
  width: 100%;
  margin: 40px auto 0;
  max-width: 400px;
  font-size: 1.4rem;
}

.container {
  text-align: center;
}

.footer__social {
  display: flex;
  width: 300px;
  margin: 20px auto;
  justify-content: space-between;
  list-style: none;
}

.footer__social i {
  margin-right: 5px;
  font-size: 2rem;
}

.twitter {
  color: #00acee;
}

.linkedin {
  color: #0e76a8;
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 1440px;
    width: 100%;
    margin: 30px auto;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
  }

  .introduction {
    width: 50%;
  }

  .introduction__title {
    font-size: 6rem;
  }

  .introduction__subtitle {
    font-size: 4rem;
  }

  .introduction__description {
    font-size: 1.6rem;
  }

  .characteristics {
    flex-wrap: nowrap;
  }

  .characteristic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 150px;
    font-size: 1.8rem;
  }

  .characteristic p {
    margin: 20px 0;
  }

  .image {
    height: 600px;
  }

  .introduction {
    text-align: initial;
  }

  .introduction__button {
    margin: 30px 0;
  }

  .projects {
    width: 100%;
  }

  .project {
    max-width: 300px;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
  }

  .footer {
    max-width: 1440px;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .footer__information {
    margin: 0 auto;
    width: 40%;
  }

  .footer__social {
    height: 40px;
  }
}
